@charset "UTF-8";
/*Обнуление*/
@import url(/fonts/stylesheet.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header {
  background-color: #000000;
}

.header:target .header__burger {
  top: 0;
}

.header:target .header__button {
  display: none;
}

.header:target .header__button-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__container {
  max-width: 1400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
  padding: 0 150px;
  height: 70px;
}

@media (max-width: 920px) {
  .header__container {
    padding: 0 45px;
  }
}

@media (max-width: 650px) {
  .header__container {
    padding-right: 20px;
  }
}

.header__image {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.header__burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 650px) {
  .header__burger {
    position: fixed;
    z-index: 1;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition: top 1s ease 0s;
    transition: top 1s ease 0s;
  }
  .header__burger:target {
    top: 0;
  }
}

.header__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 45px;
}

.header__nav ul li a {
  opacity: 0.69;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 1.2;
  font-weight: 600;
  color: #ffffff;
}

.header__nav ul li a:hover {
  color: #fd8b3a;
}

@media (max-width: 650px) {
  .header__nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 60px;
  }
  .header__nav ul li a {
    font-size: 30px;
  }
}

.header__button-div {
  text-align: center;
}

.header__button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  width: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 10px;
}

@media (min-width: 650px) {
  .header__button {
    display: none;
  }
}

.header__button ::before,
.header__button ::after {
  content: "";
  background-color: #fff;
  height: 2px;
}

.header__button span {
  background-color: #fff;
  height: 2.5px;
}

.header__button-close {
  z-index: 1;
  position: relative;
  display: none;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  width: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 10px;
}

@media (min-width: 650px) {
  .header__button-close {
    display: none;
  }
}

.header__button-close ::before,
.header__button-close ::after {
  content: "";
  background-color: #fff;
  height: 2px;
}

.header__button-close span {
  background-color: #fff;
  height: 2.5px;
}

.head {
  min-height: 711px;
  background-color: #9a9a9a;
}

@media (max-width: 1030px) {
  .head {
    min-height: 500px;
  }
}

.head__container {
  max-width: 1400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  padding: 150px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1030px) {
  .head__container {
    padding: 50px;
  }
}

@media (max-width: 800px) {
  .head__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 650px) {
  .head__container {
    padding: 20px;
  }
}

.head__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 390px;
  margin-right: 20px;
}

@media (max-width: 800px) {
  .head__body {
    margin: 60px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .head__body:nth-child(1) {
    text-align: center;
  }
}

@media (max-width: 650px) {
  .head__body {
    padding: 0px;
    margin: 0 0px 20px 0px;
  }
}

.head__image img {
  width: 175px;
  height: 60px;
}

@media (max-width: 650px) {
  .head__image {
    display: none;
  }
}

.head__title {
  font-family: Raleway;
  font-size: 36px;
  line-height: 1.2;
  font-weight: 400;
  color: #ffffff;
}

@media (max-width: 650px) {
  .head__title {
    font-size: 30px;
  }
}

.head__line {
  width: 74px;
  height: 2px;
  background-color: #fff;
}

.head__text {
  opacity: 0.8;
  font-family: Raleway;
  font-size: 16px;
  line-height: 23px;
  font-weight: 300;
  color: #ffffff;
}

.head__button {
  font-family: "Open Sans";
  font-size: 15px;
  line-height: 1.2;
  font-weight: 600;
  color: #ffffff;
  width: 140px;
  height: 40px;
  border: #fff solid 3px;
  text-align: center;
  padding-top: 8px;
  -webkit-box-shadow: 0px 5px 0 rgba(253, 139, 58, 0.5);
          box-shadow: 0px 5px 0 rgba(253, 139, 58, 0.5);
}

.head__button:hover {
  background-color: #fd8b3a;
  position: relative;
  top: 3px;
  -webkit-box-shadow: 0px 2px 0 rgba(253, 139, 58, 0.5);
          box-shadow: 0px 2px 0 rgba(253, 139, 58, 0.5);
}

.head__button:active {
  color: #fd8b3a;
  background-color: #000000;
}

.head__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 360px;
  height: 360px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
}

@media (max-width: 350px) {
  .head__form {
    max-width: 300px;
    max-height: 360px;
  }
}

.head__form-title {
  height: 54px;
  background-color: #f5f5f5;
  font-family: "Open Sans";
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  color: #333333;
  text-align: center;
  padding-top: 14px;
}

.head__form-title span {
  color: #ff8b38;
}

.head__form-1 {
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  color: #bdbdbd;
  border-bottom: 1px solid #bdbdbd;
  height: 30px;
  margin: 10px 20px;
  opacity: 0.5;
}

.head__form-button {
  height: 55px;
  font-family: "Open Sans";
  font-size: 15px;
  line-height: 1.2;
  font-weight: 600;
  color: #ffffff;
  background-color: #ff9b51;
}

.social__container {
  width: 1400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 150px;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1400px) {
  .social__container {
    display: none;
  }
}

.social__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 85px;
}

.social__title {
  font-family: "Open Sans";
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  color: #333333;
}

.social__text {
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #86878b;
}

.social__image {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social__image img {
  height: 48px;
  opacity: 0.2;
}

.fi1 {
  min-height: 660px;
  background-color: #f5f5f5;
}

.fi1__container {
  margin: auto;
  width: 1400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 145px 145px 115px 145px;
}

@media (max-width: 1400px) {
  .fi1__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 100%;
    padding: 50px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.fi1__tabs {
  font-family: "Open Sans";
  font-size: 15px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
}

@media (max-width: 1400px) {
  .fi1__tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 50px;
  }
}

.fi1__tab-1 {
  width: 112px;
  height: 112px;
  background-color: #ff8b38;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
}

.fi1__tab-2 {
  width: 112px;
  height: 112px;
  background-color: #333333;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
}

.fi1__tab-3 {
  border-radius: 5px;
  width: 112px;
  height: 112px;
  background-color: #333333;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fi1__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1400px) {
  .fi1__text {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.fi1__title {
  font-family: "Open Sans";
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  color: #000000;
}

@media (max-width: 1400px) {
  .fi1__title {
    margin-bottom: 20px;
  }
}

.fi1__subtitle {
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #86878b;
}

.fi1__subtitle p {
  line-height: 20px;
}

.fi1__subtitle p span {
  line-height: 20px;
}

.fi1__button {
  margin: 20px 0px;
  border-radius: 5px;
  font-family: "Open Sans";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
  line-height: 20px;
  font-weight: 600;
  color: #ffffff;
  width: 121px;
  height: 46px;
  background-color: #ff8b38;
}

.fi1__button:hover {
  background-color: #333333;
}

.fi1__pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fi1__pic img {
  max-width: 100%;
}

.fi2 {
  background-color: #fff;
}

.fi2__container {
  max-width: 1400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
  padding: 110px 170px 135px 155px;
}

@media (max-width: 1400px) {
  .fi2__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 50px 0px;
    max-width: 1400px;
  }
}

.fi2__pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fi2__pic img {
  -webkit-box-shadow: 40px 70px 30px rgba(154, 154, 154, 0.5);
          box-shadow: 40px 70px 30px rgba(154, 154, 154, 0.5);
  max-width: 100%;
}

.fi2__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1400px) {
  .fi2__body {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 10px;
    margin-top: 100px;
  }
}

.fi2__title {
  font-family: Raleway;
  font-size: 36px;
  line-height: 43px;
  font-weight: 400;
  color: #212121;
}

.fi2__line {
  width: 64px;
  height: 2px;
  background-color: #fd8b3a;
  margin: 30px 0;
}

.fi2__sub {
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #86878b;
  margin-bottom: 5px;
}

.fi2__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
}

.fi2__item-pic {
  margin-right: 20px;
}

.fi2__item-pic img {
  width: 40px;
  height: 40px;
}

.fi2__item-text-title {
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 17px;
  font-weight: 600;
  color: #212121;
}

.fi2__item-text-text {
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #86878b;
}

.fi3 {
  background-color: #f5f5f5;
}

.fi3__container {
  max-width: 1400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
  padding: 110px 170px 135px 155px;
}

@media (max-width: 1400px) {
  .fi3__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 50px 0px;
    max-width: 1400px;
  }
}

.why {
  min-height: 592px;
  background-color: #fff;
}

.why__container {
  max-width: 1400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  padding: 50px 20px;
}

.why__items {
  gap: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1000px) {
  .why__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.why__item {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.why__pic {
  height: 100px;
}

.why__title {
  font-family: "Open Sans";
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #333333;
  margin-bottom: 30px;
}

.why__text {
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #86878b;
}

.fi2__line {
  margin: 30px auto;
}

.price {
  min-height: 883px;
  background-color: #f5f5f5;
  padding-top: 110px;
}

.price__container {
  max-width: 1400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.price__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.price__title {
  font-family: Raleway;
  font-size: 36px;
  line-height: 43px;
  font-weight: 400;
  color: #212121;
}

.price__line {
  width: 64px;
  height: 2px;
  background-color: #fd8b3a;
  margin: 30px 0;
}

.price__sub {
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #86878b;
}

.price__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 80px 145px 95px 145px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (max-width: 1400px) {
  .price__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 1400px) {
  .price__item {
    margin-bottom: 50px;
  }
}

.price__item-header {
  font-family: "Open Sans";
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  width: 343px;
  height: 59px;
  background-color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1px;
}

.price__item-price {
  font-family: Raleway;
  font-size: 35px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  width: 343px;
  height: 100px;
  background-color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.price__item-price span {
  font-size: 94px;
}

.price__item-sub {
  width: 343px;
  height: 51px;
  background-color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  font-style: italic;
  color: #ffffff;
}

.price__item-sub span {
  opacity: 0.5;
}

.price__item-line {
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  background-color: #fd8b3a;
  min-height: 5px;
  line-height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.price__item-element {
  width: 343px;
  height: 40px;
  background-color: #fff;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  color: #86878b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.what__container {
  max-width: 1400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 110px 145px 100px 145px;
}

.what__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 55px;
}

.what__title {
  font-family: Raleway;
  font-size: 36px;
  line-height: 43px;
  font-weight: 400;
  color: #212121;
}

.what__line {
  width: 64px;
  height: 2px;
  background-color: #fd8b3a;
  margin: 30px 0;
}

.what__sub {
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #86878b;
}

.what__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1400px) {
  .what__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.what__item {
  width: 275px;
}

@media (max-width: 1400px) {
  .what__item {
    margin-bottom: 50px;
  }
}

.what__item-text {
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  font-style: italic;
  color: #86878b;
  height: 150px;
  background-image: url(/img/bg_text.png);
  background-repeat: no-repeat;
  padding: 23px 12px 25px 12px;
}

.what__item-bot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.what__item-pic {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #9a9a9a;
  margin-right: 30px;
}

.what__item-bot-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Open Sans";
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  color: #333333;
}

.what__item-bot-text span {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  color: #86878b;
  line-height: 35px;
}

.cust {
  background-color: #9a9a9a;
  min-height: 320px;
}

.cust__container {
  max-width: 1400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  padding: 30px 20px;
}

.cust__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 55px;
}

.cust__title {
  font-family: Raleway;
  font-size: 36px;
  line-height: 1.2;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
}

.cust__line {
  width: 64px;
  height: 2px;
  background-color: #ffffff;
  margin: 30px 0;
}

.cust__sub {
  opacity: 0.8;
  font-family: Raleway;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
}

.cust__button {
  font-family: "Open Sans";
  font-size: 15px;
  line-height: 1.2;
  font-weight: 600;
  color: #ffffff;
  width: 135px;
  height: 42px;
  border: #fff solid 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 5px 0 rgba(253, 139, 58, 0.5);
          box-shadow: 0px 5px 0 rgba(253, 139, 58, 0.5);
}

.cust__button:hover {
  background-color: #fd8b3a;
  position: relative;
  top: 3px;
  -webkit-box-shadow: 0px 2px 0 rgba(253, 139, 58, 0.5);
          box-shadow: 0px 2px 0 rgba(253, 139, 58, 0.5);
}

.cust__button:active {
  color: #fd8b3a;
  background-color: #000000;
}

.contact__container {
  max-width: 1400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  padding: 30px 20px;
}

.contact__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 55px;
}

.contact__title {
  font-family: Raleway;
  font-size: 36px;
  line-height: 43px;
  font-weight: 400;
  color: #212121;
}

.contact__line {
  width: 64px;
  height: 2px;
  background-color: #fd8b3a;
  margin: 30px 0;
}

.contact__sub {
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #86878b;
}

.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact__form-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  color: #bdbdbd;
  opacity: 0.7;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1400px) {
  .contact__form-cont {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contact__form-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 150px;
  width: 530px;
}

@media (max-width: 1400px) {
  .contact__form-1 {
    width: 300px;
  }
}

.contact__form-1-1 {
  border-bottom: 1px solid #86878b;
  height: 30px;
  margin-bottom: 30px;
}

.contact__form-1-1:last-child {
  margin-bottom: 0;
}

.contact__form-2 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (max-width: 1400px) {
  .contact__form-2 {
    width: 300px;
  }
}

.contact__form-2-1 {
  border-bottom: 1px solid #86878b;
  height: 150px;
  width: 530px;
  margin-left: 80px;
}

@media (max-width: 1400px) {
  .contact__form-2-1 {
    margin-left: 0;
    margin-top: 80px;
    width: 300px;
  }
}

.contact__button {
  margin-top: 40px;
  width: 148px;
  height: 46px;
  font-family: "Open Sans";
  font-size: 15px;
  line-height: 1.2;
  font-weight: 600;
  color: #ffffff;
  background-color: #ff9b51;
  border-radius: 5px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.footer {
  height: 100px;
  background-color: #000;
}

.footer__container {
  max-width: 1400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 100%;
  margin: auto;
}

.footer__pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

@media (max-width: 500px) {
  .footer__pic {
    gap: 20px;
  }
}

.footer__pic img {
  width: 24px;
  height: 24px;
  -webkit-filter: invert(80%);
          filter: invert(80%);
}

.footer__text {
  text-align: center;
  opacity: 0.5;
  font-family: "Open Sans";
  font-size: 12px;
  line-height: 1.2;
  font-weight: 400;
  color: #ffffff;
}
